<!Doctype htnl>
<html>
    <head>
        <title>Goals Tracker</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <h1>Goals Tracker</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/add">Add Goal</a>
        </nav>
        <hr>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="flash {{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        {% block content %}
        {% endblock %}
    </body>
    </html>